{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set containerClasses = "govuk-width-container wide-container" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName if not useServiceNavigation,
    serviceUrl: serviceUrl if not useServiceNavigation,
    containerClasses: containerClasses
  }) }}
  {% if useServiceNavigation %}
    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: serviceUrl,
      containerClasses: "govuk-width-container wide-container",
      navigation: [
        {
          href: "/view-sites",
          text: "View sites",
          active: mainNavActive == "view-sites"
        
        },
        {
          href: "#",
          text: "Assess sites"
        },
        {
          href: "#",
          text: "View completed assessments"
          
        },

        {
          href: "#",
          text: "Categories"
          
        }
      ]
    }) }}
  {% endif %}
{% endblock %}

{% if (GOVUKPrototypeKit.isDevelopment) %}
  {% set footerItems = [
    {
      href: "/manage-prototype",
      text: "Manage your prototype"
    }, {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% else %}
  {% set footerItems = [
    {
      href: "/manage-prototype/clear-data",
      text: "Clear data"
    }
  ] %}
{% endif %}

{# 
  Because the macro is used inside `set` rather than a `block`
  `govukFooter` needs to be explicitly imported
#}
{% from 'govuk/components/footer/macro.njk' import govukFooter %}
{% set govukFooterHtml %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    },
    containerClasses: containerClasses
  }) }}
{% endset %}

{# Override only the GOV.UK Footer component for GOV.UK Frontend >=6.0.0 #}
{% block govukFooter %}{{govukFooterHtml | safe}}{% endblock %}

{% block footer %}
  {{ super() }}
{% endblock %}